
each $item, $key in $items
    p Item at #{$key} is #{$item}!

each $item in $items
    p Item is #{$item}!

while $i < 100
    p Do something until $i is 100
    - $i++

$i= 0
do
    p Do something with #{$i}
    $i= $i + 1
while $i < 100


for $i = 0; $i < 100; $i++
    p Do something with #{$i}